@{
    ViewBag.Title = "目的地";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:0px 35px;">
    <img src="~/Content/images/leader.gif" />
    <div style="margin-top:10px">
        <table width="100%" cellpadding="0" cellspacing="0" height="330" id="table_distinations">
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var lastTr = null;
        var lastIndex = 0;
        var tdMore = $('<td align="right" valign="bottom" id="td_more"><img src="~/Content/images/more.jpg" /></td>');
        var clickIndex = 1;
        tdMore.find("img").bind("click", function () {
            LoadDestinations(clickIndex + 1, 4);
            clickIndex++;
        });

        function LoadDestinations(page, psize) {
            $("#td_more").remove();

            $.post("/Default/LoadDestinations", { page: page, psize: psize }, function (r) {
                var list = $.toJsResult(r);
                $(list).each(function () {
                    if (lastIndex % 3 == 0) {
                        lastTr = $("<tr></tr>");
                        $("#table_distinations tbody").append(lastTr);
                    }
                    lastTr.append('<td><img src="~/' + this.ImgName + '" class="traveImg" /></td>');

                    lastIndex++;
                });

                lastTr.append(tdMore);
            });
        }

        LoadDestinations(1);

        initTraveImgShade(".traveImg", "red");
    </script>
}

