<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisService" type="G.Util.Redis.RedisService,G.Util"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <RedisService>
    <RedisMaster ip="127.0.0.1" port="6379" />
    <RedisSelves>
      <RedisSelve name="selve1" ip="127.0.0.1" port="6389" />
    </RedisSelves>
  </RedisService>
</configuration>