<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="GOMFrameWork" type="GOMFrameWork.Config.GOMFrameWork" />
  </configSections>
  <connectionStrings>
    <add name="BaseWeb" providerName="System.Data.SqlClient" connectionString="Data Source=123.57.153.47;Initial Catalog=BaseWeb;Persist Security Info=True;User ID=sa;Password=761113" />
    <add name="HQTZ" providerName="System.Data.SqlClient" connectionString="Data Source=123.57.153.47;Initial Catalog=HQTZ;Persist Security Info=True;User ID=sa;Password=761113" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--短信相关的设置-->
    <add key="SMSMode" value="0"/>
    <add key="IsModem" value="0"/>
    <add key="Com" value="COM4"/>
    <add key="Speed" value="9600"/>
    <add key="Impower" value="EITW-EJTD-NTXB-JDBK"/>
    
    <add key="IsUsingMsg" value="false"/>
    <add key="MsgReg" value="E6E671544549DAC5F40F6EA3F01122202D961AE2A669229EA0EF58F26EA979002CE2D8866EF383B141479D8AA645680F"/>
    <!--注册号（由华兴软通提供）-->
    <add key="MsgPwd" value="4291F376D2FF0182C2F6985BE7EAD2D2704BCC0395F88ADF"/>
    <!--密码（由华兴软通提供）-->
    <add key="MsgSourceAdd" value=""/>
    <!--子通道号，可为空（预留参数）-->
    <add key="MsgUrl" value="http://www.stongnet.com/sdkhttp/sendsms.aspx"/>
    <!--//华兴软通发送短信地址-->
    <add key="BalanceUrl" value="http://www.stongnet.com/sdkhttp/getbalance.aspx"/>
    <!--//华兴余额查询地址-->
    <add key="MsgextraInfo" value="【旅居中国】"/>

    <add key="MsgReg1" value="E6E671544549DAC5F40F6EA3F01122202D961AE2A669229EA0EF58F26EA97900170C8307B847D9964D665D4E60F296C4"/>
    <!--注册号（由华兴软通提供）-->
    <add key="MsgPwd1" value="B7385351A6141DD8E41089C79B91591143F2D52A5A77E6C9"/>
    <!--密码（由华兴软通提供）-->
    <add key="MsgSourceAdd1" value=""/>
    <!--子通道号，可为空（预留参数）-->
    <add key="MsgUrl1" value="http://www.stongnet.com/sdkhttp/sendsms.aspx"/>
    <!--//华兴软通发送短信地址-->

    <add key="appversion" value="2.0.0"/>
    <add key="apppath" value="http://123.57.153.47/appstore/H58999670_1201230504.apk"/>
    <add key="appname" value="H58999670_1201230504.apk"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Member/Index?op=login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <!--<httpRuntime requestValidationMode="2.0"/>-->
    <httpRuntime maxRequestLength="2147483647" executionTimeout="3600" requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="html" verb="" path="*.html" type="WebSite.Handler.AdminPageHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="uploadimgs" path="/upload/*" verb="*" type="WebSite.Handler.ImageHandler"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
        <fileExtensions>
          <add fileExtension=".ashx" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--<location path="Login/Index">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Base/LoginIn">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <GOMFrameWork>
    <DBConnections>
      <DBConnection key="HQTZ" dbType="sqlserver" />
      <DBConnection key="BaseWeb" dbType="sqlserver" />
    </DBConnections>
    <EPMappings>
      <EPMapping entityType="EntityBase" connectionKey="HQTZ" />
      <EPMapping entityType="SearchEntity" connectionKey="HQTZ" />
      <EPMapping entityType="ProcEntity" connectionKey="HQTZ" />
    </EPMappings>
  </GOMFrameWork>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>