/*Pager*/
.pager a {
    font-family: 'Microsoft YaHei';
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: white;
    border-right: none;
    color: #337ab7;
    text-decoration: none;
}

    .pager a:hover {
        background-color: rgba(237, 237, 237, 1);
    }

.pager .current:hover {
    background-color: #337ab7;
}

.pager a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pager a:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pager .current {
    background-color: #337ab7;
    color: white;
    border-color: #337ab7;
    border-right: solid 1px #337ab7;
}

    .pager .current + a {
        border-left: none;
    }
