<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>旅居中国-@ViewBag.Title</title>
    <link href="~/Content/page.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="page">
        <div class="content">
            <div id="top">
                <img src="/Content/images/logo.gif" style="margin-left:50px;" />
                <img src="/Content/images/server-tel.gif" style="margin-left:300px;" />
            </div>
            <div id="menu">
                <div class="menu-curr"><span>目的地</span></div>
                <div class="menu-normal"><span>得天独厚</span></div>
                <div class="menu-normal"><span>会员中心</span></div>
                <div class="menu-normal"><span>尊享服务</span></div>
                <div class="menu-normal"><span>最新优惠</span></div>
            </div>
            <div class="clear"></div>
            <div style="margin-top:10px;">
                @RenderBody()
            </div>
            <div style="margin-top:40px;">
                <img src="~/Content/images/img1.gif" />
            </div>
            <div id="trave">
                <img src="/Content/images/trave.gif" />
            </div>
            <div id="contact">
                <img src="/Content/images/contact.jpg" />
            </div>
        </div>
        <div id="bottom"></div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/page.js"></script>
    <script type="text/javascript">
        var defaultMenu = $(".menu-curr");
        $("#menu div").bind("mouseover", function () {
            if (!$(this).hasClass("menu-curr")) {
                var currMenu = $(".menu-curr");
                currMenu.removeClass("menu-curr");
                if (!currMenu.hasClass("menu-normal")) {
                    currMenu.addClass("menu-normal");
                }
                $(this).addClass("menu-curr");
            }
        });

        $("#menu").bind("mouseout", function () {
            if (!defaultMenu.hasClass("menu-curr")) {
                $(".menu-curr").removeClass("menu-curr");
                defaultMenu.addClass("menu-curr");
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
