body {
    margin: 0px;
    padding: 0px;
    background-color: #eef3f9;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

a {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    text-decoration: none;
}

body .page {
    width: 1180px;
    margin: 0px auto;
    background-color: white;
}

.clear {
    clear: both;
}

.content {
    width: 980px;
    margin: 0px auto;
}

#menu div {
    width: 196px;
    line-height: 70px;
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#top {
    padding: 10px 0px;
}

#menu div span {
    position: relative;
    top: -5px;
    left: -5px;
}

#menu .menu-normal {
    background-image: url("/Images/menudbg.jpg");
    background-repeat: repeat-x;
}


#menu .menu-curr {
    background-image: url("/Images/menubg.jpg");
    background-repeat: no-repeat;
}

#menu .green-menu-curr {
    background-image: url("/Images/green-menubg.jpg");
    background-repeat: no-repeat;
}

#trave {
    padding: 15px 0px 0px 0px;
    text-align: center;
}

#contact {
    position: relative;
    top: 4px;
    cursor: pointer;
}

#bottom {
    background-color: #868c91;
    height: 10px;
}


/*---------页面--------------------------------------*/
.panel {
    width: 227px;
    height: 165px;
    float: left;
}

#panel_more {
    text-align: right;
}
#panel-more img {
    margin-top:140px;
}

.dc_content {
    color: white;
    padding: 10px;
}

.dc_title {
    font-weight: bolder;
    font-size: 16px;
}

.dc_ctx a {
    color: white;
    font-size: 15px;
}
