<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

        $.post("/Home/GetJsonData", { ran: Math.random() }, function (r) {
            BindToSelect(r);
            BindToDiv(r);
        });



        function BindToSelect(data) {

            var sel = $("#1945811669198328");
            var items = data.Genders;
            for (var i in items) {
                sel.append("<option value='" + items[i].v + "'>" + items[i].k + "</option>");
            }

        }

        function BindToDiv(data) {

            $("#43673678595209275").bindEntity(data.Entity);

        }
    </script>
</head>
<body>
    <div id="09539729414742387">
        <input type="hidden" name="ID" />
    </div>
    <div id="43673678595209275">
        <input type="hidden" name="PID" />
        <input type="text" name="Code" />
        <select name="Gender" id="1945811669198328"></select>
        <input type="text" name="CreateTime" />
        <textarea rows="3" name="Desc"></textarea>
    </div>
</body>
</html>