<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
	<link href="/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Scripts/validate/css/validate.css" rel="stylesheet" />
    <link href="/Scripts/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <link href="/Scripts/ace/css/ace.min.css" rel="stylesheet" />
    <link href="/Scripts/ace/css/ace-responsive.min.css" rel="stylesheet" />
    <link href="/Styles/GOMFrameWork.css" rel="stylesheet" />
	@if(Model.trees.Count>0){
	<text>
	<link href="/Styles/gtree/themes/default/style.min.css" rel="stylesheet" />
	</text>
	}
	
	<script src="/Scripts/jquery-1.10.2.min.js"></script>
	
	@{
		var menuids="";
		foreach(var menu in Model.authorities.btns)
		{
			if(menuids.Length==0)
			{
				menuids+=menu.menuid;
			}
			else
			{
				menuids+=(","+menu.menuid);
			}
		}
	}
	
	<script type="text/javascript">
		applyAuthority("@menuids");
	</script>
</head>
<body>
@Include("tables",Model)

@foreach(var fm in Model.forms)
{
	var hide=fm.isshow=="0"?"_hide":"";
	var className=fm.isshow=="0"?"layerout form-layer":"";
	<div class="row-fluid">
		<div class="span@(fm.size)">
            <form name="@fm.id" id="@fm.id" class="@className">
                <div>
                    <input type="hidden" name="@fm.data[1].c[0].fld" />
                    <div class="row-fluid">
                        @for(var idx=2;idx<fm.data.Count;idx++) 
						{
                            var d=fm.data[idx];
                            var t=d.c[2].t;
                            foreach(var exd in fm.extdata.extdatas)
                            {
								if(exd!=null&&exd.dataid==d.c[0].v)
								{
									<div class="span@(exd.size)">
									<label>@exd.showname</label>
									@if(t=="0")
									{
									<input type="text" name="@d.c[0].fld" id="@d.c[0].v" class="span11" />
									}
									else if(t=="1")
									{
									<select name="@d.c[0].fld" id="@d.c[0].v" class="span11"></select>
									}
									else if(t=="2")
									{
                                    <input class="span11 datepicker" name="@d.c[0].fld" id="@d.c[0].v" type="text" />
									}
									else if(t=="3")
									{
									<textarea rows="3" name="@d.c[0].fld" id="@d.c[0].v" class="span11"></textarea>
									}
									else if(t=="4")
									{
									<input type="checkbox" name="@d.c[0].fld" id="@d.c[0].v" /><span class="lbl"></span>
									}
									else if(t=="5")
									{
									<textarea name="@d.c[0].fld" id="@d.c[0].v" class="span12 text_editor@(hide)"></textarea>
									}
									else if(t=="6")
									{
									<input type="file" id="@d.c[0].v" name="@d.c[0].fld" />
									}
									</div>
									break;
								}
                            }
                        }
                    </div>
					@if(fm.btns.Count>0)
					{
						<div>
						@foreach(var btn in fm.btns)
						{
						<input type="button" id="@btn.id" class="btn btn-primary btn-mini btn-authority" value="@btn.txt" />
						}
						</div>
					}
                </div>
            </form>
		</div>
	</div>
}

@if(Model.trees.Count>0)
{
	<div class="row-fluid">
    <div class="span3">
        <form name="fm_treeedit" id="fm_treeedit" class="layerout form-layer">
            <div>
                <div class="row-fluid">
                    <div class="span12">
                        <label>节点名称</label>
                        <input type="text" id="txt_treeNodeName" class="span11" />
                    </div>
                </div>
            </div>
        </form>
    </div>
	</div>

	<div class="row-fluid">
    <div class="span3">
        <div id="targetTree" class="layerout" style="min-height:200px;"></div>
    </div>
	</div>
}

    <script src="/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Scripts/layer/layer.js"></script>
    <script src="/Scripts/umeditor/umeditor.config.js"></script>
    <script src="/Scripts/umeditor/umeditor.min.js"></script>
    <script src="/Scripts/umeditor/lang/zh-cn/zh-cn.js"></script>
    <script src="/Scripts/validate/talent-validate-all-init.js"></script>
    <script src="/Scripts/ace/ace.min.js"></script>
    <script src="/Scripts/GOMFrameWork.js"></script>
	<script type="text/javascript">
	@foreach(var fm in Model.forms)
    {
        foreach(var exd in fm.extdata.extdatas)
        {
			if(exd.uploader!=null)
			{
			<text>
			$("#@exd.dataid").upload({
				filter: "@exd.uploader.filter",
				maxSize:@exd.uploader.maxSize,
				success: function (result) {
					$("#@exd.dataid").val(result.path);
				}
			});
			</text>
			}
		}
	}
	
	@foreach(var json in Model.jsons)
	{
		<text>
		$.post("@json.url",{@json.paramsjson},function(r)
		{
			$(function()
			{
				BindToSelect(r);
				BindToDiv(r);
			});
		});
		</text>
	}
	
	@foreach(var fm in Model.forms)
	{
		if(fm.disabledurl.Length>0)
		{
		<text>
		$.post("@fm.disabledurl",{ran:Math.random()},function(r){
			if(r==1){
				$("#@fm.id").shade();
			}
		});
		</text>
		}
	}
	
	@foreach(var table in Model.tables)
	{
		foreach(var btn in table.custombtns)
		{
		<text>
		$("#@btn.id").bind("click",function(win){
			var sels = $("#@table.id").datagrid("getSelecteds");
			if(sels.length==0)
			{
				$.error("请选择一条数据！");
				return;
			}
			if(sels.length>1)
			{
				$.error("只能选择一条数据！");
				return;
			}
			
			$.post("@btn.action",{id:sels[0].id,ran_g:Math.random()},function(r){
				r=$.toJsResult(r);
				if(r.ID>0){
					//操作成功后的处理
					//...
					
					layer.close(win);
				}
				else{
					$.error("操作失败，请重试！");
				}
			});
			
			return false;
		});
		</text>
		}
	}
	@foreach(var tree in Model.trees)
	{
		foreach(var btn in tree.custombtns)
		{
		<text>
		$("#@btn.id").bind("click",function(win){
			//var select=$("#@tree.id").gtree("getSelected");
			//var selects=$("#@tree.id").gtree("getSelecteds");
			$.post("@btn.action",{ran_g:Math.random()},function(r){
				r=$.toJsResult(r);
				if(r.ID>0){
					//操作成功后的处理
					//...
					
					layer.close(win);
				}
				else{
					$.error("操作失败，请重试！");
				}
			});
			
			return false;
		});
		</text>
		}
	}
	
	@* 优先初始化select控件的option *@
		function BindToSelect(data)
		{
			@foreach(var bind in Model.binds)
		    {
		        if(bind.type=="2")
		        {
		            foreach(var json in Model.jsons)
		            {
		                foreach(var d in json.data)
		                {
		                    if(d.c[0].v==bind.data[0].c[0].v)
		                    {
		                        <text>
								var sel=$("#@(bind.data[1].c[0].v)");
		                        var items=data.@d.c[0].fld;
								$(items).each(function () {
									sel.append("<option value='"+this.v+"'>"+this.k+"</option>");
								});
		                        </text>
		                    }
		                }
		            }
		        }
		    }
			
			@foreach(var table in Model.tables)
			{
				foreach(var sitem in table.searchitems)
				{
					var exists=0;
					foreach(var json in Model.jsons)
		            {
		                foreach(var d in json.data)
		                {
		                    if(d.c[0].v==sitem.bindjsonid)
		                    {
								exists=1;
		                        <text>
								var sel=$("#@sitem.id");
		                        var items=data.@d.c[0].fld;
								$(items).each(function () {
									sel.append("<option value='"+this.v+"'>"+this.k+"</option>");
								});
		                        </text>
								break;
		                    }
		                }
						if(exists==1)
						{
							break;
						}
		            }
				}
			}
		}

        function BindToDiv(data)
        {
            @foreach(var bind in Model.binds)
            {
                if(bind.type=="1")
                {
                    foreach(var json in Model.jsons)
                    {
                        foreach(var d in json.data)
                        {
                            if(d.c[0].v==bind.data[0].c[0].v)
                            {
                                if(d.c[2].t=="-1")
                                {
                                    <text>
                                    $("#@(bind.data[1].c[0].v)").bindEntity($.toJsResult(data));
                                    </text>
                                }
                                else
                                {
                                    <text>
                                    $("#@(bind.data[1].c[0].v)").bindEntity($.toJsResult(data.@(d.c[0].fld)));
                                    </text>
                                }
                            }
                        }
                    }

                }
            }
        }

        $(function()
        {
			@foreach(var tree in Model.trees)
			{
				<text>
				$("#@tree.id").gtree({ url: "@tree.loadurl" });
				</text>
				@foreach(var btnstr in tree.defaultbtns)
				{
					if(btnstr=="delete"&&tree.reftableid!=null&&tree.reftableid.Length>0)
					{
					<text>
					$("#@tree.id").gtree("beforeDeleteNode", function () {
						if ($("#@tree.reftableid").datagrid("hasChildren")) {
							$.error("请先删除该节点下的内容！");
							return false;
						}
						$("#@tree.reftableid").datagrid("refresh");
						if ($("#@tree.reftableid").datagrid("hasChildren")) {
							$.error("请先删除该节点下的内容！");
							return false;
						}
						return true;
					});
					</text>
						break;
					}
				}
				if(tree.reftableid!=null&&tree.reftableid.Length>0)
				{
					<text>
					$("#@tree.id").gtree("selectChanged", function (json) {
						//刷新右边表格
						var nids = '-1';
						$(json.children_d).each(function () {
							nids += (',' + this);
						});
						@foreach(var tbl in Model.tables)
						{
							if(tbl.id==tree.reftableid)
							{
								if(tbl.searchid=="0")
								{
								<text>
								$("#@tree.reftableid").datagrid({ url: "@tbl.data.url", search: { nodeids: nids } });
								</text>
								}
								else
								{
								<text>
								var hidNodeIdsInput=null;
								if($("#@tbl.searchid .nodeids").length==0)
								{
									hidNodeIdsInput=$("<input type='hidden' name='nodeids' class='nodeids' />");
									$("#@tbl.searchid").append(hidNodeIdsInput);
								}
								else
								{
									hidNodeIdsInput=$("#@tbl.searchid .nodeids");
								}
								hidNodeIdsInput.val(nids);
								$("#@tree.reftableid").datagrid({ url: "@tbl.data.url", search:"#@tbl.searchid" });
								</text>
								}
								break;
							}
						}
					});
					</text>
				}
				
				@foreach(var btnstr in tree.defaultbtns)
				{
					if(btnstr=="addroot")
					{
					<text>
					$("#@tree.id").prev().find(".btn-add-treeroot").bind("click", function () {
						$("#txt_treeNodeName").val("");
						EditTree@(tree.id)(true, true);
					});
					</text>
					}
					else if(btnstr=="add")
					{
					<text>
					$("#@tree.id").prev().find(".btn-add-treechild").bind("click", function () {
						var snode = $("#@tree.id").gtree("getSelected");
						if (snode) {
							$("#txt_treeNodeName").val("");
							EditTree@(tree.id)(true, false);
						}
					});
					</text>
					}
					else if(btnstr=="edit")
					{
					<text>
					$("#@tree.id").prev().find(".btn-edit-treenode").bind('click', function () {
						var snode = $("#@tree.id").gtree("getSelected");
						if (snode) {
							$("#txt_treeNodeName").val(snode.text);
							EditTree@(tree.id)(false, false);
						}
					});
					</text>
					}
					else if(btnstr=="delete")
					{
					<text>
					$("#@tree.id").prev().find(".btn-del-treenode").bind('click', function () {
						var snode = $("#@tree.id").gtree("getSelected");
						if (snode) {
							$.confirm("确定要删除该节点吗？", function () {
								if ($("#@tree.id").gtree("removeSelectNode")) {
									$.post("@tree.delurl", { ID: snode.id }, function (r) { });
								}
							});
						}
					});
					</text>
					}
				}
				
				@foreach(var btnstr in tree.defaultbtns)
				{
					if(btnstr!="delete")
					{
					<text>
					function EditTree@(tree.id)(isAdd, isAddRoot) {
						var winTitle=isAdd?"新增节点":"编辑节点";
						$("#fm_treeedit").open(winTitle, function (win) {
							if (!tt.validateForm("fm_treeedit")) {
								return false;
							}
							var snode = $("#@tree.id").gtree("getSelected");
							
							var update = {};
							if(isAdd){
								if(!isAddRoot){
									update.@(tree.parentIdField)=snode.id;
								}
							}
							else{
								update.ID = snode.id;
							    update.@(tree.parentIdField)=snode.parentid;
							}
							update.Name=$.trim($("#txt_treeNodeName").val());				
							
							$.post("@tree.saveurl", update, function (r) {
								r = $.toJsResult(r);
								var node = { id: r.ID, parentid: r.@tree.parentIdField, text: r.@tree.nodeField };
								if (r.ID > 0) {
									//更新树
									if (isAdd) {
										if (isAddRoot) {
											$("#@tree.id").gtree("addRootNode", node);
										}
										else {
											$("#@tree.id").gtree("addChildNode", node);
										}
									}
									else {
										$("#@tree.id").gtree("updateSelectNode", node);
									}
									layer.close(win);
								}
								else {
									$.error("保存失败，请重试！");
								}
							});

							return false;
						});
					}
					</text>
					break;
					}
				}
			}
			
            @foreach(var table in Model.tables)
            {
				var searchstr=table.searchid=="0"?"":(",search:'#"+table.searchid+"'");
				var reftreeloadurl="0";
				var reftablefk="0";
				var reftreeid="0";
				foreach(var tree in Model.trees)
				{
					if(tree.reftableid==table.id)
					{
						reftreeloadurl=tree.loadurl;
						reftablefk=tree.reftablefk;
						reftreeid=tree.id;
						break;
					}
				}
				
				if(reftreeloadurl=="0")
				{
				<text>
				$("#@table.id").datagrid({ url: "@table.data.url" @searchstr,psize:@table.data.pagesize });
				</text>
				}
				else
				{
				<text>
				$("#@table.id").datagrid({ psize:@table.data.pagesize });
				</text>
				}
				
				if(reftreeloadurl!="0")
				{
					foreach(var btnstr in table.defaultbtns)
					{
						if(btnstr=="movemore")
						{
						<text>
						$("#@table.id").parent().prev().find(".btn-more-move").bind('click', function () {
							var sels = $("#@table.id").datagrid("getSelecteds");
							if (sels.length == 0) {
								$.error("请勾选数据！");
								return;
							}

							$("#targetTree").gtree({ url: '@reftreeloadurl' });
							$("#targetTree").open("选择节点", function (win) {
								var snode = $("#targetTree").gtree("getSelected");
								var json = [];
								$(sels).each(function () {
									json.push({ ID: this.ID, @reftablefk: snode.id });
								});
								$.post("@table.transferurl", { Contexts: json }, function (r) {
									if (r > 0) {
										layer.close(win);
										$("#@table.id").datagrid("refresh");
									}
									else {
										$.error("批量转移失败，请重试！");
									}
								});
								return false;
							});
						});
						</text>
						break;
						}
					}
				}
                
                @foreach(var h in table.data.headers)
                {
                    if(h.type=="2")
                    {
                        foreach(var btn in h.actionbtns)
                        {
                            if(btn.type=="edit")
                            {
								@foreach(var btnstr in table.defaultbtns)
								{
									if(btnstr=="add")
									{
									<text>
									$("#@table.id").parent().prev().find(".btn-table-add").bind('click',function()
									{
										$("#@btn.formdataid").bindEntity({});
										$("#@btn.formdataid").open("新增",function(win)
										{
											if(!tt.validateForm("@btn.formdataid"))
											{
												return false;
											}
											var update=$("#@btn.formdataid").getContext();
											@if(reftreeloadurl!="0")
											{
											<text>
											var selNode=$("#@reftreeid").gtree("getSelected");
											update["@reftablefk"]=selNode.id;
											</text>
											}
											$.post("@btn.action",update,function(r)
											{
												r = $.combineJson(update,$.toJsResult(r));
												@if(reftreeloadurl!="0")
												{
												<text>
												r["@(reftablefk)_G"]=selNode.text;
												</text>
												}
												if(r.ID>0)
												{
													$("#@table.id").datagrid("addRow",r);
													layer.close(win);
												}
												else
												{
													$.error("保存失败，请重试！");
												}
											});

											return false;
										});
									});
									</text>
									break;
									}
								}
                                <text>
                                $("#@table.id").datagrid("onEdit", function () {
                                    var json = $("#@table.id").datagrid("getCurrData");
                                    $("#@btn.formdataid").bindEntity(json);
                                    $("#@btn.formdataid").open("编辑",function(win)
                                    {
                                        if(!tt.validateForm("@btn.formdataid"))
                                        {
                                            return false;
                                        }
                                        var update=$("#@btn.formdataid").getContext();
                                        $.post("@btn.action",update,function(r)
                                        {
											var newjson = $.combineJson(json,update,$.toJsResult(r));
                                            if(r.ID>0)
                                            {
                                                $("#@table.id").datagrid("updateRow",json,newjson);
                                                layer.close(win);
                                            }
                                            else
                                            {
                                                $.error("保存失败，请重试！");
                                            }
                                        });

                                        return false;
                                    });
                                });
                                </text>
                            }
                            else if(btn.type=="delete")
                            {
                                <text>
                                $("#@table.id").datagrid("onDelete", function () {
									$.confirm("确定要删除吗？",function()
									{
										var json = $("#@table.id").datagrid("getCurrData");
                                        $.post("@btn.action",{@table.data.pkey:json["@table.data.pkey"]},function(r)
                                        {
                                            if(r>0)
                                            {
                                                $("#@table.id").datagrid("removeCurrRow");
                                            }
                                            else{
                                                $.error("删除失败，请重试！");
                                            }
                                        });
									});
                                });
								</text>
							}
						}
					}
				}
			}
        });

        /*增加验证信息----------Start*/
		@foreach(var fm in Model.forms)
        {
            foreach(var exd in fm.extdata.extdatas)
            {
				if(fm.isshow=="0")
				{
					<text>
					var f@(exd.dataid)=new tt.Field("@exd.showname","","@exd.dataid").setMsgId("layer-error-msg");
					</text>
				}
				else
				{
					<text>
					var f@(exd.dataid)=new tt.Field("@exd.showname","","@exd.dataid");
					</text>
				}
				
                @foreach(var validate in exd.validates)
                {
					switch(validate.type)
                    {
                        case "required":
                            <text>
							tt.vf.req.add(f@(exd.dataid));
							</text>
                            break;
                        case "number":
                            <text>tt.vf.num.add(f@(exd.dataid));</text>
                            break;
                        case "numint":
                            <text>tt.vf.int.add(f@(exd.dataid));</text>
                            break;
                        case "email":
                            <text>tt.vf.email.add(f@(exd.dataid));</text>
                            break;
                        case "ipaddress":
                            <text>tt.vf.ip.add(f@(exd.dataid));</text>
                            break;
                        case "postcode":
                            <text>tt.vf.postcode.add(f@(exd.dataid));</text>
                            break;
                        case "telnum":
                            <text>tt.vf.tel.add(f@(exd.dataid));</text>
                            break;
						case "phone":
							<text>new tt.RV().set(new RegExp("^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$"),"数据格式错误" ).add(f@(exd.dataid));</text>
                            break;
                        case "idcard":
                            <text>tt.vf.idcard.add(f@(exd.dataid));</text>
                            break;
                        case "lenvalidate":
                            <text>new tt.LV().set('@validate.minlen', '@validate.maxlen').add(f@(exd.dataid));</text>
                            break;
                        case "regvalidate":
                            <text>new tt.RV().set(new RegExp("@validate.regstr"),"输入数据格式错误" ).add(f@(exd.dataid));</text>
                            break;
                    }
                }
            }
        }
		
		@if(Model.trees.Count>0)
		{
			<text>
			var vf_treenodeedit = new tt.Field("节点名称", "", "txt_treeNodeName").setMsgId("layer-error-msg");
			tt.vf.req.add(vf_treenodeedit);
			</text>
		}
        /*增加验证信息----------End*/
		
		@foreach(var fm in Model.forms)
		{
			foreach(var btn in fm.btns)
			{
			<text>
			$("#@btn.id").bind('click',function()
			{
				if(!tt.validateForm("@fm.id"))
				{
					return false;
				}
				var update=$("#@fm.id").getContext();
				update.ran_g=Math.random();
				$.post("@btn.action",update,function(r)
				{
					r=$.toJsResult(r);
					//提交之后的操作
					//...
				});
			});
			</text>
			}
		}
	</script>
</body>
</html>