body {
    font-family: "Microsoft YaHei", "微软雅黑",Arial,Helvetica, Tahoma, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.btn {
    font-family: "Microsoft YaHei", "微软雅黑",Arial,Helvetica, Tahoma, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

/*Pager Blue*/
.pager a {
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: white;
    border-right: none;
    color: #337ab7;
    text-decoration: none;
}

    .pager a:hover {
        background-color: rgba(237, 237, 237, 1);
    }

.pager .current:hover {
    background-color: #337ab7;
}

.pager a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pager a:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pager .current {
    background-color: #337ab7;
    color: white;
    border-color: #337ab7;
    border-right: solid 1px #337ab7;
}

    .pager .current + a {
        border-left: none;
    }

/*-----------------------------------*/
/*Pager Red*/
.pager.red a {
    padding: 6px 12px;
    border: 1px solid #ddd;
    background-color: white;
    border-right: none;
    color: #DB6D4C;
    text-decoration: none;
}

    .pager.red a:hover {
        background-color: rgba(237, 237, 237, 1);
    }

.pager.red .current:hover {
    background-color: #DB6D4C;
}

.pager.red a:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pager.red a:last-child {
    border-right: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pager.red .current {
    background-color: #DB6D4C;
    color: white;
    border-color: #DB6D4C;
    border-right: solid 1px #DB6D4C;
}

    .pager.red .current + a {
        border-left: none;
    }

/*LayerOut*/
.layerout {
    padding: 10px 5px 0px 20px;
    display: none;
}

.form-layer .row-fluid [class*="span"] {
    margin-left: 0px;
}

.text_editor, .text_editor_hide {
    height: 230px;
}


#layer-error-msg {
    float: left;
    padding-left: 10px;
}

.btn-header {
    margin-top: 0px;
    margin-bottom: 5px;
}


.loading {
    width: 32px;
    height: 32px;
    position: absolute;
}

/*表单表格*/
.tdtitle {
    width: 6em;
    padding: 3px 0px;
    text-align: right;
}
