<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>找回密码</title>
    <link href="../Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../Scripts/ace/css/ace.min.css" rel="stylesheet" />
    <link href="../Styles/GOMFrameWork.css" rel="stylesheet" />
    <style type="text/css">
        .common-bag {
            width: 988px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 5px 5px 0px 0px;
            overflow: hidden;
            min-height: 425px;
            margin: 0px auto;
        }

        .common-bag-hd {
            padding-left: 25px;
            height: 43px;
            line-height: 43px;
            border-bottom: 1px solid #ddd;
            background-color: #f1f3f4;
        }
    </style>
</head>
<body>
    <div class="common-bag">
        <div class="common-bag-hd"><h2 style="font-size:18px;font-weight:400;margin:0px;padding:0px;">找回密码</h2></div>
        <div class="common-bag-bd">
            <table style="margin-top:80px;">
                <tr>
                    <td valign="middle">用户名：</td>
                    <td>
                        <input type="text" id="username" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="button" class="btn btn-primary" value="提交" onclick="alert(location.href)" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>