*{
	font-size: 14px;
	font-family: "Microsoft YaHei", "微软雅黑",Arial,Helvetica, Tahoma, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
.mui-card{
	margin: 0px;
}

.top-bar{
	background-image: url(../images/topbg.png);
	background-repeat: repeat-x;
}

.top-bar a{
	color: white;
}

.top-bar h1{
	color: white;
}

.bottom-bar{
	background-image: url(../images/bottombg.png);
	background-repeat: repeat-x;
}
.bottom-bar a{
	position: relative;
	top: 2px;
}
.mui-bar-tab .mui-tab-item{
	color:white;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: white;
}

.bottom-bar-new{
	position: relative;
	top: -7px;
}

#loading{
	text-align: center;
	padding-right: 36px;
}

#loading img{
	position: absolute;
	margin-top: 15px;
}
