body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

input, textarea {
    border:solid 1px rgba(148,183,230,1);
}


.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*----------------------------------------------------*/
.easyui-combobox {
    width: 120px;
}

/*-----------------------------------------------*/
.triagebtn {
    background: url('Images/sum.png') no-repeat center center;
    padding: 0px 10px;
    cursor: pointer;
}

    .triagebtn:hover {
        border: solid 1px #ddd9d9;
    }

.dg_searchlab {
    margin-left: 5px;
}


.pager {
    text-align: center;
    margin-top: 6px;
}

    .pager a {
        border: solid 1px white;
        padding: 2px 4px;
        text-decoration: none;
        margin-left: 5px;
    }

        .pager a:hover {
            border: solid 1px rgba(148,183,230,1);
        }

    .pager .current {
        border: solid 1px rgba(148,183,230,1);
    }

    .pager .ignore:hover {
        border: solid 1px white;
        background-color: white;
    }

.layerdg {
    padding:2px;
}