@model EntityLibrary.Entities.HQ_DisplayContent
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/ace/css/ace.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript">
        @if (ViewBag.IsBookRoom != null && ViewBag.IsBookRoom == 1)
        {
            <text>
        $("#startDate").datepicker({ startDate: new Date().toLocaleDateString() });
        $("#startTime").timepicker({
            minuteStep: 10,
            showSeconds: false,
            showMeridian: false
        });

        var villageId = @(ViewBag.VillageID == null ? "0" : ViewBag.VillageID);

        $(function () {
            $.post("/Detail/LoadRooms", {villageId:villageId, ran: Math.random() }, function (r) {
                r=$.toJsResult(r);
                var html="";
                $(r).each(function()
                {
                    html+='<li class="item-blue clearfix"><label class="inline">'+this.Name+'</label><div class="pull-right"><span>'+this.Price+'</span><input type="button" class="btn btn-primary btn-mini" value="预定"></div></li>';
                });
                $("#roomlist").html(html);
            });
        });
        </text>
        }
    </script>
}


<div style="padding:0px 35px;">
    <div style="margin-top:10px;">
        @(new HtmlString(Model.DContent))
    </div>
</div>

@if (ViewBag.IsBookRoom != null && ViewBag.IsBookRoom == 1)
{
    <ul id="roomlist" class="item-list"></ul>

    <div>
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="startDate">起始时间：</label>
                <div class="controls">
                    <input class="input-medium" id="startDate" type="text" data-date-format="yyyy-mm-dd">
                    <div class="input-append bootstrap-timepicker">
                        <input id="startTime" type="text" class="input-mini" />
                        <span class="add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>

                <label class="control-label" for="startDate">结束时间：</label>
                <div class="controls">
                    <input class="input-medium" id="endDate" type="text" data-date-format="yyyy-mm-dd">
                    <div class="input-append bootstrap-timepicker">
                        <input id="endTime" type="text" class="input-mini" />
                        <span class="add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

