@model EntityLibrary.Entities.HQ_DisplayContent
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding:0px 35px;">
    <div style="margin-top:10px;">
        <div id="div_desc">@(new HtmlString(Model.DContent))</div>
    </div>
</div>

@if (ViewBag.IsBookRoom != null && ViewBag.IsBookRoom == 1)
{
    <a href="#tagBookRoom" id="a_book" style="display:none;">
        <div id="book"></div>
    </a>
    <div id="tagBookRoom" class="header blue" style="margin-bottom:5px;font-size:18px;font-weight:bold;"><i class="fa fa-cart-plus"></i> 预定房间</div>
    <div id="roomlist" class="accordion">
    </div>

    <div style="display:none;">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label" for="startDate">起始时间：</label>
                <div class="controls">
                    <input class="input-medium" id="startDate" type="text" data-date-format="yyyy-mm-dd">
                    <div class="input-append bootstrap-timepicker">
                        <input id="startTime" type="text" class="input-mini" />
                        <span class="add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>

                <label class="control-label" for="startDate">结束时间：</label>
                <div class="controls">
                    <input class="input-medium" id="endDate" type="text" data-date-format="yyyy-mm-dd">
                    <div class="input-append bootstrap-timepicker">
                        <input id="endTime" type="text" class="input-mini" />
                        <span class="add-on"><i class="fa fa-clock-o"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section styles{
    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/ace/css/ace.min.css" rel="stylesheet" />
    <style type="text/css">
        #a_book:hover {
            text-decoration: none;
        }

        .rprice {
            position: absolute;
            left: 520px;
        }

        .rcount {
            position: absolute;
            left: 650px;
        }

        .rbook {
            position: absolute;
            left: 800px;
            padding: 3px 8px;
        }

        .rdesc:link {
            position: absolute;
            left: 910px;
            text-decoration: underline;
        }

        .rdesc:hover, .rdesc:visited, .rdesc:active {
            text-decoration: underline;
        }

        .accordion {
            margin-bottom: 0px;
        }

        .accordion-inner {
            max-height: 450px;
            overflow-y: auto;
            padding: 0px 50px;
        }

        #book {
            width: 71px;
            height: 71px;
            background-image: url('/Images/book.jpg');
            background-repeat: no-repeat;
        }

            #book:hover {
                background-image: url('/Images/book-over.jpg');
            }
    </style>
}

@section scripts{
    <script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/GOMFrameWork.js"></script>
    <script src="~/Scripts/jquery.floatDiv.js"></script>
    <script type="text/javascript">
        @if (ViewBag.IsBookRoom != null && ViewBag.IsBookRoom == 1)
        {
            <text>
        $("#startDate").datepicker({ startDate: new Date().toLocaleDateString() });
        $("#startTime").timepicker({
            minuteStep: 10,
            showSeconds: false,
            showMeridian: false
        });

        var villageId = @(ViewBag.VillageID == null ? "0" : ViewBag.VillageID);

        $(function () {
            $.post("/Detail/LoadRooms", {villageId:villageId, ran: Math.random() }, function (r) {
                r=$.toJsResult(r);
                var html="";
                $(r).each(function(idx)
                {
                    if(idx==0)
                    {
                        html+=GetRoomItem(this.ID,this.Name,this.Price,this.RCount,this.Description,true);
                    }
                    else
                    {
                        html+=GetRoomItem(this.ID,this.Name,this.Price,this.RCount,this.Description);
                    }
                });
                $("#roomlist").html(html);

                $(".rdesc").bind("click",function()
                {
                    var timeout=setTimeout(function()
                    {
                        clearTimeout(timeout);
                        $("#book")[0].click();
                    },200);
                });
            });

            var right=(($(window).width()- $(".content").width())/2-71)/2;
            if(right<0)
            {
                right=0;
            }
            $("#a_book").floatdiv({right:right,top:"200px"});
            $("#a_book").show();
        });

        function GetRoomItem(id,name,price,count,desc,isopen)
        {
            return  '<div class="accordion-group">'+
            '<div class="accordion-heading">'+
                '<div class="accordion-toggle">'+
                    '<span>'+name+'</span>'+
                    '<span class="rprice label label-success">'+price+' / 天</span>'+
                    '<span class="rcount">'+
                        '剩余 <span class="label label-warning arrowed-right">'+count+'</span> 间'+
                    '</span>'+
                    '<span class="label label-info rbook" data-id="'+id+'">预定</span>'+
                    (isopen?('<a href="#collapse'+id+'" data-toggle="collapse" data-parent="#roomlist" class="rdesc">查看详情</a>'):('<a href="#collapse'+id+'" data-toggle="collapse" data-parent="#roomlist" class="collapsed rdesc">查看详情</a>'))+
                '</div>'+
            '</div>'+
            (isopen?('<div class="accordion-body in" id="collapse'+id+'">'):('<div class="accordion-body collapse" id="collapse'+id+'">'))+
                '<div class="accordion-inner">'+
                    desc+
                '</div>'+
            '</div>'+
            '</div>'
        }

        </text>
        }
    </script>
}


