@model EntityLibrary.Entities.HQ_Article
@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding:0px 35px;">
    <div id="panel_container">
        <div class="guidtitle"><span class="tit">@Model.Title</span><span class="ctime">@Model.CreateOn_G</span></div>
        <div class="guiddes">@(new HtmlString(Model.AContent)) </div>
    </div>
</div>

@section styles{
    <style type="text/css">
        .guidtitle {
            padding: 15px 0px 10px 0px;
            border-bottom: dotted 1px #D8D8D8;
        }

            .guidtitle .tit {
                font-size: 32px;
                line-height: 1.2;
            }

            .guidtitle .ctime {
                float: right;
                font-size: 14px;
                color: #888;
                margin-top: 20px;
            }
    </style>
}

@section scripts{
    <script type="text/javascript">
        setCurrMenu(2);
    </script>
}

