body {
    margin: 0px;
    padding: 0px;
    background-color: #eef3f9;
    font-family: "Microsoft YaHei", "微软雅黑",Arial,Helvetica, Tahoma, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

a {
    font-family: "Microsoft YaHei", "微软雅黑",Arial,Helvetica, Tahoma, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    text-decoration: none;
}

body .page {
    width: 1180px;
    margin: 0px auto;
    background-color: white;
}

.clear {
    clear: both;
}

.content {
    width: 980px;
    margin: 0px auto;
}

#menu div {
    width: 196px;
    line-height: 70px;
    float: left;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#top {
    padding: 10px 0px;
}

#menu div span {
    font-size: 16px;
    position: relative;
    top: -5px;
    left: -5px;
}

#menu .menu-normal {
    background-image: url("/Images/menudbg.jpg");
    background-repeat: repeat-x;
}


#menu .menu-curr {
    background-image: url("/Images/menubg.jpg");
    background-repeat: no-repeat;
}

#menu .green-menu-curr {
    background-image: url("/Images/green-menubg.jpg");
    background-repeat: no-repeat;
}

#trave {
    text-align: center;
    height: 170px;
}

.bottomflow {
    position: fixed;
}

.flow_tab {
    height: 28px;
    width: 148px;
    text-align: center;
    background-image: url('/Images/contactus.png');
    background-repeat: no-repeat;
    color: white;
    padding-top: 13px;
    cursor: pointer;
    margin-left: 100px;
}

.flow_content {
    width: 980px;
    background-color: #444444;
    padding: 3px 100px 0px 100px;
    color: white;
    font-size: 13px;
}

.flow_ctx {
    display: none;
    padding: 5px 0px 0px 0px;
}

    .flow_ctx .contact_ctx_icon {
        vertical-align: middle;
    }

.contact_ctx {
    padding-right: 15px;
}

    .contact_ctx a {
        color: white;
    }

        .contact_ctx a:hover {
            color: white;
            text-decoration: none;
        }

/*---------页面--------------------------------------*/
.panel {
    width: 227px;
    height: 165px;
    float: left;
}

    .panel img {
        width: 215px;
        height: 155px;
    }

#panel_more {
    text-align: right;
}

    #panel_more img {
        width: 84px;
        height: 22px;
        margin-top: 140px;
        cursor: pointer;
    }

.dc_content {
    color: white;
    padding: 10px;
}

.dc_title {
    font-weight: bolder;
    font-size: 16px;
}

.dc_ctx a {
    color: white;
    font-size: 15px;
}

#dcontent {
    padding: 0px 10px;
}

.m-column-name {
    line-height: 30px;
    height: 30px;
    margin-top: 36px;
    text-align: center;
    position: relative;
}

    .m-column-name h2 {
        display: inline-block;
        padding: 0 30px;
        font: inherit;
        font-size: 28px;
        color: #666;
        background: #fff;
        position: relative;
        z-index: 1;
        margin: 0;
    }

    .m-column-name .line {
        width: 100%;
        height: 1px;
        background-color: #fff;
        border-top: 1px solid #ccc;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 50%;
    }

#SpecialLevelOneCategoryContainer {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
    color: #d9d9d9;
}

    #SpecialLevelOneCategoryContainer a {
        display: inline-block;
        line-height: 30px;
        padding: 0 22px;
        font-size: 18px;
        position: relative;
        color: #333;
        text-decoration: none;
        border-right: solid 1px #ddd;
    }

        #SpecialLevelOneCategoryContainer a:hover,#SpecialLevelOneCategoryContainer a.current {
            background-color: #C73937;
            color: white;
        }

        #SpecialLevelOneCategoryContainer a:last-child {
            border-right: none;
        }

.destn-house-list {
    overflow: hidden;
    margin-top: 30px;
}

    .destn-house-list ul {
        margin: -30px 0 0 -37px;
        list-style: none;
    }

    .destn-house-list li {
        float: left;
        width: 330px;
        height: 280px;
        margin: 30px 0 0 37px;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    .destn-house-list img {
        background-color: #eee;
        width:330px;
        height:232px;
    }

    .destn-house-list .house-info {
        padding: 10px 10px 0;
        text-align: right;
    }

.house-info h2 {
    font-size: 18px;
    text-align: left;
    line-height:0px;
}

.house-info .house-datelist {
    line-height: 32px;
    float: left;
    margin: 6px 0 0 -4px;
    font-size: 12px;
    color: #666;
}

.house-info .label-text {
    display: inline-block;
    padding: 0 4px;
}

.house-info .price-box {
    color: #666;
    position:relative;
    top:-30px;
}

    .house-info .price-box dfn {
        font: normal 12px arial;
        vertical-align: 6px;
        color: #f60;
    }

    .house-info .price-box b {
        font-size: 24px;
        font-family: Tahoma;
        font-weight: bold;
        color: #f60;
    }
