@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>旅居中国-首页</title>
    <link href="~/Styles/website/page.css" rel="stylesheet" />
    <link href="~/Scripts/website/slider/css/silder.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="page">
        <div class="content">
            <div id="toptop">
                <span>欢迎您，</span>
                @if (!G.Util.Web.Permission.LoginVerify.IsLogin("Client"))
                {
                    <a href="~/Member/Index?op=login"><img src="~/Images/topLogin.png" width="15" height="15" /> &nbsp;<span>快捷登陆</span></a>
                    <span>&nbsp;</span>
                    <a href="~/Member/Index?op=reg"><img src="~/Images/topReg.png" width="21" height="21" /> <span>免费注册</span></a>
                }
                else
                {
                    <a href="~/Member/MemberIndex"><img src="~/Images/topUser.png" width="16" height="16" /> <span>@G.Util.Account.LoginInfo.Current.UserName</span></a>
                    <span>&nbsp;</span>
                    <a href="#" onclick="LoginOut()"><span style="position:relative;top:2px;">[退出]</span></a>
                }
            </div>
            <div id="top">
                <a href="/">
                    <img src="~/Images/logo.gif" style="margin-left:50px;" />
                </a>
                <img src="~/Images/server-tel.gif" style="margin-left:300px;" />
            </div>
            <div id="menu">
                <a href="/">
                    <div class="menu-normal" data-class="menu-curr"><span>首 页</span></div>
                </a>
                <a href="/Destination"><div class="menu-normal" data-class="menu-curr"><span>目的地</span></div></a>
                <a href="/MemberBenefit">
                    <div class="menu-normal" data-class="green-menu-curr"><span>旅居卡</span></div>
                </a>
                @*<a href="/MemberBenefit">
                        <div class="menu-normal" data-class="green-menu-curr"><span>得天独厚</span></div>
                    </a>*@
                <a href="/Member">
                    <div class="menu-normal" data-class="menu-curr"><span>会员中心</span></div>
                </a>
                <a href="/MemberService">
                    <div class="menu-normal" data-class="menu-curr"><span>尊享服务</span></div>
                </a>
                <a href="/NewCheaper">
                    <div class="menu-normal" data-class="green-menu-curr"><span>最新优惠</span></div>
                </a>
                <a href="http://123.57.153.47:8099/" onclick="toShop()" target="_blank" id="linkToShop">
                    <div class="menu-normal" data-class="menu-curr"><span>旅居商城</span></div>
                </a>
            </div>
            <div class="clear"></div>
            @if (ViewBag.SilderImgs.Length > 0)
            {
                var imgs = ViewBag.SilderImgs.Split(';');
                <div id="banner_tabs" class="flexslider">
                    <ul class="slides">
                        @foreach (string img in imgs)
                        {
                            var pls = img.Split(':');
                            var classstr = pls[1].Length > 0 ? ("href=" + pls[1] + " target=_blank") : "href=javascript:void(0)";
                            <li>
                                <a @classstr>
                                    <div style="width:980px;height:488px; background: url(../../@pls[0]) no-repeat center;"></div>
                                </a>
                            </li>
                        }
                    </ul>
                    <ul class="flex-direction-nav">
                        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
                        <li><a class="flex-next" href="javascript:;">Next</a></li>
                    </ul>
                    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
                        @for (var i = 1; i <= imgs.Length; ++i)
                        {
                            <li><a>@i</a></li>
                        }
                    </ol>
                </div>
            }
        </div>
        <div id="dcontent">
            <div class="m-column-name">
                <h2>度假村推荐</h2>
                <i class="line"></i>
            </div>
            <div class="m-tabs-link" id="SpecialLevelOneCategoryContainer">
                @foreach (EntityLibrary.Entities.HQ_DisplayPanel d in ViewBag.DistList)
                {
                    <a data-id="@d.ID" href="javascript:;">@d.Name</a>
                }
            </div>
            <div class="destn-house-list j-specialunit-container" style="min-height:280px;padding-bottom:30px;">
                <div style="text-align: center;display:none;" id="loading">
                    <img src="images/loading2.gif" style="position:relative;top:70px;width:100px;height:100px;" />
                </div>
                <ul id="hotroomlist"></ul>
            </div>
            <div>
                <div class="btnHotMore">查看更多  <i class="fa fa-arrow-right" style="font-size:12px;"></i></div>
            </div>
        </div>
        <div id="trave">
            <img src="~/Images/trave.gif" />
        </div>
        <div id="bottom" class="bottomflow">
            <div class="flow_tab">
                <span>联络我们</span><i class="flow_tab_icon fa fa-angle-double-down" style="position:relative;left:8px;"></i>
            </div>
            <div class="flow_content">
                <div class="flow_ctx">
                    <table>
                        <tr>
                            <td>
                                <img class="contact_ctx_icon" src="~/Images/phonecall.png" />
                            </td>
                            <td class="contact_ctx">
                                <span>咨询您的假期顾问</span>
                                <br />
                                <span>400 0112 916</span>
                            </td>
                            <td class="contact_ctx">
                                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1002934864&site=qq&menu=yes">
                                    <i class="contact_ctx_icon fa fa-qq" style="font-size:35px;"></i>
                                    <span>&nbsp;QQ交谈</span>
                                </a>
                            </td>
                            <td class="contact_ctx">
                                <a href="/ClientBase/ContactIndex">
                                    <img class="contact_ctx_icon" src="~/Images/contactus.jpg" />
                                    <span>&nbsp;联系我们</span>
                                </a>
                            </td>
                            <td class="contact_ctx">
                                <a href="http://123.57.153.47/phone/ljzgapp" target="_blank" id="2codelink">
                                    <img class="contact_ctx_icon" src="~/Images/2codesmall.png" width="35" />
                                    <span>&nbsp;手机App下载</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="div2code">
        <img src="~/Images/2code.png" width="200" />
        <div class="text">
            手机扫一扫<i class="fa fa-close" id="close2code"></i>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/GOMFrameWork.js"></script>
    <script src="~/Scripts/website/slider/js/slider.js"></script>
    <script src="~/Scripts/website/page.js"></script>
    <script src="~/Scripts/Base64.js"></script>
    <script type="text/javascript">
        var defaultMenu = null;
        var lastMenu = null;
        $("#menu div").bind("mouseover", function () {
            var toClass = $(this).attr("data-class");
            if (!$(this).hasClass(toClass)) {
                if (lastMenu) {
                    lastMenu.removeClass(lastMenu.attr("data-class"));
                }

                $(this).addClass(toClass);
                lastMenu = $(this);
            }
        });

        $("#menu").bind("mouseout", function () {
            lastMenu.removeClass(lastMenu.attr("data-class"));
            lastMenu = null;
            if (defaultMenu) {
                var toClass = defaultMenu.attr("data-class");
                if (!defaultMenu.hasClass(toClass)) {
                    defaultMenu.addClass(toClass);
                }
                lastMenu = defaultMenu;
            }
        });

        function setCurrMenu(idx) {
            defaultMenu = $("#menu div").eq(idx);
            defaultMenu.addClass(defaultMenu.attr("data-class"));
            lastMenu = defaultMenu;
        }
        setCurrMenu(0);

        var bannerSlider = new Slider($('#banner_tabs'), {
            time: 5000,
            delay: 400,
            event: 'hover',
            auto: true,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });
        $('#banner_tabs .flex-prev').click(function () {
            bannerSlider.prev()
        });
        $('#banner_tabs .flex-next').click(function () {
            bannerSlider.next()
        });

        var currIndex = 0;
        var lastDid = 0;
        $(".btnHotMore").bind("click", function () {
            LoadRoomsByDist(lastDid, currIndex + 1);
        });

        function LoadRoomsByDist(did, pindex) {
            if (lastDid != did) {
                lastDid = did;
                pindex = 1;
            }
            currIndex = pindex;
            $("#hotroomlist").hide();
            $("#loading").show();
            var html = "";
            $.post("/Default/LoadHotRoom", { destinationid: did, pindex: currIndex }, function (r) {
                $("#loading").hide();
                if (r.PageCount > r.PageIndex) {
                    $(".btnHotMore").show();
                }
                else {
                    $(".btnHotMore").hide();
                }
                r = $.toJsResult(r.Data);
                $(r).each(function () {
                    var name = this.Name.length > 12 ? this.Name.substring(0, 12) : this.Name;
                    html += '<li><a href="/Detail/RoomIndex/' + this.VillageID + '" target="_blank" class="pic-box"><img src="/' + this.CoverImg + '" /></a><div class="house-info"><h2><a href="/Detail/RoomIndex/' + this.VillageID + '" class="house-tit" target="_blank" title="' + this.Name + '">' + name + '</a></h2><span class="price-box"><dfn>¥</dfn><b>' + this.Price + '</b>/晚</span></div></li>';
                });
                if (currIndex == 1) {
                    $("#hotroomlist").html(html);
                }
                else {
                    $(html).insertAfter($("#hotroomlist li:last"));
                }

                $("#hotroomlist").show();
            });
        }

        $("#SpecialLevelOneCategoryContainer a:first").addClass("current");
        LoadRoomsByDist($("#SpecialLevelOneCategoryContainer a:first").attr("data-id"), 1);
        $("#SpecialLevelOneCategoryContainer a").bind("click", function () {
            $("#SpecialLevelOneCategoryContainer a.current").removeClass("current");
            $(this).addClass("current");
            LoadRoomsByDist($(this).attr("data-id"), 1);
        });

        initBottomFlow();

        $("#2codelink").bind("mouseover", function () {
            var left = $(this).offset().left;
            $("#div2code").css({ left: left });
            $("#div2code").show();
        });

        $("#close2code").bind("click", function () {
            $("#div2code").hide();
        });

        function toShop() {
            $.ajaxSetup({ async: false });
            $.get("/Member/LoadCurrUserInfo", { ran: Math.random() }, function (r) {
                if (r.Phone.length > 0) {
                    var ppp = "su=" + r.Phone + "&sp=" + r.Pwd;
                    ppp = new Base64().encode(ppp);
                    var url = "http://123.57.153.47:8099/Account/Login?ppp=" + ppp;
                    $("#linkToShop").attr("href", url);
                }
            });
            $.ajaxSetup({ async: true });
        }
    </script>
</body>
</html>