
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dingwei:before { content: "\e600"; }
.icon-qq:before { content: "\e601"; }
.icon-dianhua:before { content: "\e602"; }
.icon-login-user:before { content: "\e603"; }
.icon-tuijian:before { content: "\e604"; }
.icon-youjian:before { content: "\e605"; }
.icon-member:before { content: "\e606"; }
.icon-xiao48:before { content: "\e607"; }
.icon-bianji:before { content: "\e608"; }
.icon-liebiao:before { content: "\e609"; }
.icon-luxian:before { content: "\e60a"; }
.icon-wuliuche:before { content: "\e60b"; }
.icon-fuzhi:before { content: "\e60c"; }
